* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
body {
  position: relative;
  overflow: hidden;
}
header {
  position: absolute;
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  background-color: rgba(161, 157, 157, 0.5);
}
h1 {
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
  font-size: 10vh;
}
.banner__body {
  height: 60vh;
  width: 100vw;
  background: url(../img/4K-Train-Rail-Desktop-Wallpaper-For-PC.jpg);
  background-size: 100% 165%;
  background-repeat: no-repeat;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__item {
  padding: 1vh 1vw;
  margin: 14.5% 1% 0;
  width: 20vw;
  height: 26vh;
  border-radius: 2%;
  background: rgba(61, 60, 60, 0.4);
  box-shadow: 2px 2px 2px black;
  color: rgba(211, 213, 215, 0.9);
}
h2 {
  font-family: "Cinzel Decorative", cursive;
  margin-top: 3vh;
  padding-right: 1vw;
  font-size: 2vh;
  text-align: end;
}
p {
  margin-top: 0.5vh;
  font-size: 1.5vh;
  text-align: justify;
  text-align-last: right;
}
.fa-solid {
  margin-right: 1.5vw;
}
.footer {
  display: flex;
  justify-content: center;
  color: black;
}
.footer__text {
  width: 35%;
  height: 80%;
  margin: 5vh 0 0 5vw;
}
h3 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2.5vh;
  margin: 2vh 0;
}
.footer__info {
  font-size: 1.5vh;
  width: 25%;
  height: 80%;
  margin: 5vh 0 0 11vw;
}
h4 {
  margin: 3vh 0 0 2vw;
}
ul {
  list-style: none;
  margin: 4vh 3vw 0 0;
}
li {
  margin-top: 2vh;
}
.fa-brands {
  font-size: 3.5vh;
  color: rgb(192, 141, 0);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(191, 150, 0);
}
@media screen and (max-width:899px) {
 body {
  overflow-y: scroll;
}
  h1 {
  font-size: 55px;
}
.banner__body {
 background-size: 145% 100%;
  background-position: center;
   min-height: 100vh;
}
.wrapper {
 padding-top: 24vh;
  flex-direction: column;
}
.banner__item {
      margin: 3.5% 1% 0;
    width: 73vw;
    height: 19vh;
}
h2 {
    margin-top: 0vh;
    padding-right: 1vw;
    font-size: 12px;
}
p {
  margin-top: 0.5vh;
  font-size: 10px;
  text-align: justify;
  text-align-last: right;
}
.fa-solid {
  margin-right: 1.5vw;
}
.footer{
  flex-direction: column;
  align-items: center;
}
.footer__text {
 width: 80%;
    height: 60%;
    margin: 2vh 0 0 0vw;
}
h3 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 14px;
  margin: 2vh 0;
}
.footer__info {
  font-size: 12px;
    width: 80%;
    margin: 2vh 0 3vh;
}
h4 {
 margin: 2vh 0 0 0vw;
}
ul {
    margin: 2vh 0vw 0 
}

.fa-brands {
  font-size: 12px;
}
}
